@*View file shown when object not found in Cache or could not create a new object from API*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error-Hackerrank Cache Service</title>
</head>
<body>
    <div> 
        <h4> Failed to retrive data from Web API and Cache</h4>
    </div>
</body>
</html>
